<div class="sidebar">
    <div class="sidebar-content" [style]='"height:" +innerHeight'>
        <div fxLayout=row class="sidebar-header">
            <div class="logo" fxFlex=15>
                <img src="assets/logo.png" alt="Logo">
            </div>
            <div fxFlex=65>
                <div class="welcome">Welcome</div>
                <div class="app-name">Agent resource center</div>
            </div>
            <div class="menu-icon" fxFlex=20>
                <mat-icon>menu</mat-icon>
            </div>
        </div>
        <div class="sidebar-body">
            <div class='title'>Agent Options</div>
            <div>
                <ul class='menu-list'>
                    <li routerLink='/registration'>
                        <div class='menu-item'>
                            <div><mat-icon>assignment</mat-icon></div>
                            <div class='text'>Registration</div>
                        </div>
                    </li>
                    <li>
                        <div class='menu-item'>
                            <div><mat-icon>compare_arrows</mat-icon></div>
                            <div class='text'>Sumary - BOB Agent</div>
                        </div>
                    </li>
                    <li>
                        <div class='menu-item'>
                            <div><mat-icon>dashboard</mat-icon></div>
                            <div class='text'>Comissions</div>
                        </div>
                    </li>
                    <li>
                        <div class='menu-item'>
                            <div><mat-icon>date_range</mat-icon></div>
                            <div class='text'>ABook of Bussiness</div>
                        </div>
                    </li>
                    <li>
                        <div class='menu-item'>
                            <div><mat-icon>description</mat-icon></div>
                            <div class='text'>Refeals</div>
                        </div>
                    </li>
                    <li>
                        <div class='menu-item'>
                            <div><mat-icon>donut_small</mat-icon></div>
                            <div class='text'>Reports</div>
                        </div>
                    </li>
                    <li>
                        <div class='menu-item'>
                            <div><mat-icon>eject</mat-icon></div>
                            <div class='text'>Reconciliations</div>
                        </div>
                    </li>
                    <li>
                        <div class='menu-item'>
                            <div><mat-icon>face</mat-icon></div>
                            <div class='text'>Referrals Life</div>
                        </div>
                    </li>
                    <li>
                        <div class='menu-item'>
                            <div><mat-icon>find_in_page</mat-icon></div>
                            <div class='text'>Documents & Resources</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>